.git
.github
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv
env
build
dist
*.egg-info
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
README.md
tests
